* {
    font-family: Arial, sans-serif;
}

.pokemon-type-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.pokemon-types, .egg-groups{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    flex-wrap: wrap;
}

.pokemon-types li, .egg-groups li{
    margin: 0.2rem;
    padding: 0.3rem;
    border-radius: 5px;
    color: white;
    min-width: 6rem;
    max-width: 6rem;
    text-align: center;
}

button {
    background-color: #d25064;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #be4a5b;
}

input[type="text"] {
    border-radius: 5px;
    width: 20rem;
}

select {
    border-radius: 5px;
}

#show-more {
    background-color: #3D7DCA;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    font-size: 1.3rem;
}